    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 250px; background-image: url(https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
         
        </div>
      </div>
    </div>
     
       
       
          <!-- <div class="col">
            <h1 class="display-2 text-white" style="text-align: center;">Persona Tracker</h1></div> -->
    

    <!-- Page content -->
 <div class="container-fluid mt--7">
      <div class="row">
          <div class="col-md-12">
          <div class="card card-profile shadow">

        <table>
        <tr>
          <td style="width:200px;height:190px;">
            &nbsp;<img class="img1" src="assets/images/person.jpg" width="200" height="190">
          </td>&nbsp;&nbsp;
    <td style="vertical-align: top;">
    <table style="text-indent:20px;text-align: justify;">
    <tr><td style="font-family:Garamond;"><b>Id</b></td><td>:</td><td style="font-family:Courier">sdfghhhhhhd</td></tr>
     <tr><td style="font-family:Garamond"><b>Age</b></td><td>:</td><td style="font-family:Courier">asdfgfhj</td></tr>
        <tr><td style="font-family:Garamond"><b>Date of Birth</b></td><td>:</td><td style="font-family:Courier">rdyhdg</td></tr>
   <tr><td style="font-family:Garamond"><b>Sex</b></td><td>:</td><td style="font-family:Courier"> dsgzfsddfg</td></tr>
    <tr><td style="font-family:Garamond"><b>Address</b></td><td>:</td><td style="font-family:Courier">dgfsdzdfg</td>&nbsp;&nbsp;
  

 </table>
  </td></tr>
   <pre style="font-size:15px;font-family:Book Antiqua;letter-spacing: 1px;">    <i class="fa fa-phone" style="font-size:18px"></i>  asfdgvbhn          
    <i class="fa fa-envelope" style="font-size:18px"></i> zsxdvfg </pre>
</table>


</div>
  </div>
            
        </div>

      </div>