<div class="main-content" style="background-color: #E6E6FA"> 
   <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item">
             <a class="nav-link" href="home"><p class="font-weight-bold">Home</p></a></li>
             <li class="nav-item">
              <a class="nav-link" href="dashboard/123"><p class="font-weight-bold">My Persona</p></a></li></ul>
   </nav>    
      <div class="header pb-8 pt-5 pt-lg-8 d-flex" style="height: 100px; background-image: url(assets/images/logo.png); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
 
   
    <div class="container-fluid">
      <div class="row ">
       <div class="col">
         <h1 class="display-2 text-white"></h1>
       </div>
    </div>
  </div></div>
  <div  *ngFor="let details of mess">
   <div class="row justify-content-center">
     <div class="col-xl-12 order-xl-1 mb-5 mb-xl-0">
        <div class="container-fluid mt--7">
       <div class="card card-profile shadow" style="height:300px;">                 
         <div class="card-body pt-0 pt-md-4">
            
<div class="abc" style="background-color: #D8BFD8">
 <pre style="text-align:left;font-size:30px;font-family:Book Antiqua;letter-spacing: 2px;">
<em><b>{{details.FIRST}} {{details.LAST}}</b></em>
</pre>
</div>


 <div class="row">

 <div class="col">
    

     <div class="table-responsive">
     <table>
     <tr>
       <td style="height:100px;">
         &nbsp;<img class="img1" src="assets/images/person.jpg" class="rounded-circle" width="190" height="190">
       </td>
 <td style="vertical-align: top;">
 <table style="table-layout: auto;text-indent:20px;text-align: justify;">
 <tr><td><b><pre style="font-family:Garamond;font-size:20px;">Id</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.CLIENT_ID}}</h3></pre></td>
 <td><b><pre style="font-family:Garamond;font-size:20px;">Age</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.AGE}}</h3></pre> </td></tr>
 <tr><td><b><pre style="font-family:Garamond;font-size:20px;">Date of Birth</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.DOB}}</h3></pre></td>
<td><b><pre style="font-family:Garamond;font-size:20px;">Sex</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.SEX}}</h3></pre></td></tr>
<tr><td><b><pre style="font-family:Garamond;font-size:20px;">Phone Number</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.PHONE}}</h3></pre></td>
<td><b><pre style="font-family:Garamond;font-size:20px;">Email Id</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.EMAIL}}</h3></pre></td></tr>
 <tr><td><b><pre style="font-family:Garamond;font-size:20px;">Address</pre></b></td><td><pre>:</pre></td><td><pre><h3 class="font-weight-light" style="font-family:Courier;">{{details.ADDRESS_1}},{{details.CITY}}</h3></pre></td></tr>


</table>
</td></tr>

</table></div>
</div>
</div>
  </div></div></div></div></div>
<br>
<div style="text-align:center;">
  <div class="card-body pt-0 pt-md-4">
  <div class="card card-profile shadow" style="height:800px;padding-top: 30px;">  
<form>
  <mat-form-field appearance="fill">
    <mat-label>Select from date</mat-label>
    <input matInput [matDatepicker]="fromdate" [formControl]="FromDate">
    <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
    <mat-datepicker #fromdate></mat-datepicker>
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Select to date</mat-label>
    <input matInput [matDatepicker]="todate" [formControl]="ToDate">
    <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
    <mat-datepicker #todate></mat-datepicker>
  </mat-form-field>
   &nbsp;&nbsp;

  <button mat-raised-button class="button" style="height: 2.5em;" type="button" (click)="onSubmit()" >Submit</button>
</form> 
<div class="row justify-content-md-center">
  <table>
   <tr><td>
    <mat-card style="width:700px; height: 600px;border: 1px solid black;">
        <!-- <app-dynamic-chart [CategoryValue]=ClickCounter (CategoryClicked)="resetChildForm($event)"></app-dynamic-chart> -->
        <div class="boxChart__container">
          <div class="abc" style="background-color: #D8BFD8">
          <pre style="text-align:left;font-size:20px;font-family:Book Antiqua;letter-spacing: 2px;">
            <em><b>Categories Based On Total Money Spent</b></em>
            </pre>
          </div>
          <div (click)="toggleDisplayDivIf()">
            <highcharts-chart
              id="container"
              [Highcharts]="Highcharts"
              [constructorType]="chartConstructor"
              [options]="chartOptions"
              [callbackFunction]="chartCallback"
              [(update)]="updateFromInput"
              [oneToOne]="true"
              [click]= TriggerMap
              style="width:560px; height: 500px;display: block;">
            </highcharts-chart>
            
          </div>
        </div>
     </mat-card>
   </td>
   &nbsp;
  <td>
    <mat-card style="width:700px; height: 600px;border: 1px solid black;">
      <div class="abc" style="background-color: #D8BFD8">
        <pre style="text-align:left;font-size:20px;font-family:Book Antiqua;letter-spacing: 2px;">
          <em><b>Map with markers</b></em>
          </pre>
        </div>
      <!-- <app-gmaps [resetFormSubject]="resetFormSubject.asObservable()"></app-gmaps>  -->
      <div id="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="mapOptions"
     >
</div>
     </mat-card></td>  
    </tr> 
  </table>
</div>
</div>
</div>
</div>

</div></div>




















