<div class="main-content" style="background-color: #E6E6FA"> 
   <nav class="navbar navbar-top navbar-expand-md navbar-dark">
<a class="nav-link" href="home"><i class="fa fa-home" style="font-size: 30px;color: white;"></i></a>             
   </nav>
      <div class="header pb-8 pt-5 pt-lg-8 d-flex" style="height: 100px; background-image: url(assets/images/logo.png); background-size: cover; background-position: center top;">
      <!-- Mask -->

      
      <span class="mask bg-gradient-default opacity-8"></span>
 </div>
  <div  *ngFor="let details of mess">
   <div class="row justify-content-center">
     <div class="col-xl-12 order-xl-1 mb-5 mb-xl-0">
        <div class="container-fluid mt--7">
       <div class="card card-profile shadow" style="height:auto;width: auto;background: linear-gradient(to left, white  20%, #FFFAF0 100%)">                 
         <div class="card-body pt-0 pt-md-4">
            
<div class="abc" style="background-color: #D8BFD8">
 <pre style="text-align:left;font-size:30px;font-family:Book Antiqua;letter-spacing: 2px;">
<em><b> {{details.FIRST}} {{details.LAST}}</b></em>
</pre>
</div>


 <div class="row">

 <div class="col-xl-7" style="border-right:ridge;">
    

     <div class="table-responsive">
     <table>
        <tr>
          <td style="height:50px;vertical-align: middle;">
        <img class="img1" src="assets\images\person.jpg" class="rounded-circle" width="110" height="120">
          </td>
    <td style="vertical-align: top;">
    <table style="table-layout: auto;text-indent:15px; border-spacing:0px;padding: 1px;">
    <tr><td><b><pre style="font-family:Garamond;font-size:17px;">Id<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.CLIENT_ID}}</h3></pre></b></td>
    <td><b><pre style="font-family:Garamond;font-size:17px;">Age<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.AGE}}</h3></pre></b></td>
  <td><b><pre style="font-family:Garamond;font-size:17px;">Date of Birth<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.DOB}}</h3></pre></b></td></tr>

    <tr><td><b><pre style="font-family:Garamond;font-size:17px;">Sex<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.SEX}}</h3></pre></b></td>
    <td><b><pre style="font-family:Garamond;font-size:17px;">Phone Number<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.PHONE}}</h3></pre></b></td>
  <td><b><pre style="font-family:Garamond;font-size:17px;">Email Id<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.EMAIL}}</h3></pre></b></td></tr>

<tr><td><b><pre style="font-family:Garamond;font-size:17px;">City<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.CITY}}</h3></pre></b></td>
  <td><b><pre style="font-family:Garamond;font-size:17px;">Address<br><h3 class="font-weight-light" style="font-family:Courier;">{{details.ADDRESS_1}}</h3></pre></b></td></tr>
 </table>
  </td></tr>  
</table>

</div>
</div> 

<div class="col-xl-5" style="font-family:Garamond;font-size:17px;left: 50px;">
<table ><tr><td>
<div (click)="open(mymodal1)">
       <b>Total Asset</b><br>$1234566
    </div><br>
<div (click)="open(mymodal2)">
       <b>Total Liabilities</b><br>$1234994
      </div></td>
  
  <td style="vertical-align: top;">
    <highcharts-chart
   [Highcharts] = "highcharts1" 
   [options] = "chartOptions1" 
   style = "width:350px;height:250px;display: block;">
</highcharts-chart></td></tr>
</table>
</div>


</div>
  </div></div></div></div></div>
<br>
<div style="text-align:center;">
  <div class="card-body pt-0 pt-md-4">
  <div class="card card-profile shadow" style="height:auto;padding-top: 30px;background: linear-gradient(to left, white  0%, #FFFAF0 100%)">  
<form>
  <mat-form-field appearance="fill">
    <mat-label>Select from date</mat-label>
    <input matInput [matDatepicker]="fromdate" [formControl]="FromDate">
    <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
    <mat-datepicker #fromdate></mat-datepicker>
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Select to date</mat-label>
    <input matInput [matDatepicker]="todate" [formControl]="ToDate">
    <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
    <mat-datepicker #todate></mat-datepicker>
  </mat-form-field>
   &nbsp;&nbsp;

  <button mat-raised-button class="button" style="height: 2.5em;" type="button" (click)="onSubmit()" >Submit</button>
</form> 
<div class="row justify-content-md-center">
<br>
    <mat-card style="width:600px; height: 600px;border: 1px solid black;">
       
           <div class="abc" style="background-color: #D8BFD8">
      <pre style="text-align:center;font-size:20px;font-family:Book Antiqua;letter-spacing: 2px;">
          <em><b>Categories Based on Expenditure</b></em>
          </pre>
        </div>
          <div (click)="toggleDisplayDivIf()">
            <highcharts-chart
              id="container"
              [Highcharts]="Highcharts"
              [constructorType]="chartConstructor"
              [options]="chartOptions"
              [callbackFunction]="chartCallback"
              [(update)]="updateFromInput"
              [oneToOne]="true"
              [click]= TriggerMap
              style="display: block;width:450px;height:500px;margin: 0 auto;">
            </highcharts-chart>
            
          </div>
      
     </mat-card>
   
   &nbsp;

    <mat-card style="width:600px; height: 600px;border: 1px solid black;">
      
      <div class="abc" style="background-color: #D8BFD8">
      <pre style="text-align:left;font-size:20px;font-family:Book Antiqua;letter-spacing: 2px;">
          <em><b>Map with markers</b></em>
          </pre>
        </div>
      <!-- <app-gmaps [resetFormSubject]="resetFormSubject.asObservable()"></app-gmaps>  -->
      <div id="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="mapOptions"
     >
</div>
     </mat-card>
</div>
<br>
<div class="row justify-content-md-center">
 
 <mat-card style="width:600px; height:auto;border: 1px solid black;">
      <div class="abc" style="background-color: #D8BFD8">
        <pre style="text-align:center;font-size:20px;font-family:Book Antiqua;letter-spacing: 2px;">
          <em><b>Product Recommendations</b></em>
          </pre>
        </div>
      <div class="row">
        <div class="col">
<mat-card id="prod_card" style="width:390px;height: auto;border: 0.5px solid;border-style: dashed;">

<div id="myBtn" style="font-weight:bold;font-size:23px;text-align:left;font-family:Garamond;font-style:inherit;">Credit Card</div><hr>
<div id="info" style="text-align: justify;font-family:Book Antiqua;font-size: 15px;"><img class="img2" src="assets\images\prod_credit.jpg" style="float: right;margin-left:20px;margin-bottom:4px; border-radius: 8px; border-radius: 8px;">
<div>A credit card is a payment card issued to users to enable the cardholder to pay a merchant for goods and services based on the cardholder's promise to the card issuer to pay them for the amounts plus the other agreed charges.<br><b>Benefits:</b></div>
<ul>
<li>The main benefit to the cardholder is convenience.</li>
<li>No interest is charged in the case when the full balance is paid within grace period.</li>
<li>Many credit cards offer rewards and benefits packages.</li>
</ul>
</div>
</mat-card></div>
<div class="col">
<div class="btn-group-vertical">
  <br>
  <button mat-raised-button style="width:140px;height: 70px;" id="myButton1" class="btn-default" (click)="click1()">Loan</button><br>
  <button mat-raised-button style="width:140px;height: 70px;" id="myButton2" class="btn-default" (click)="click2()">Savings Account</button><br>
  <button mat-raised-button style="width:140px;height: 70px;" id="myButton3" class="btn-default" (click)="click3()">Current Account</button><br>
</div></div>
</div>
     </mat-card>
&nbsp;
      <mat-card style="width:600px; height: 600px;border: 1px solid black;">
      <div class="abc" style="background-color: #D8BFD8">
        <pre style="text-align:left;font-size:20px;font-family:Book Antiqua;letter-spacing: 2px;">
          <em><b>Nearest Neighbours</b></em>
          </pre>
        </div>
      <div>
</div>
     </mat-card>
</div>
</div>
</div>
</div>

</div></div>

<ng-template #mymodal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-basic-title" id="modal-basic-title">Total Asset</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-piechart></app-piechart>
  </div>
</ng-template>

<ng-template #mymodal2 let-modal>
  <div class="modal-header">
    <h4 class="modal-basic-title" id="modal-basic-title">Total Liabilities</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
<app-pie-lia></app-pie-lia>  
</div>
</ng-template>
