<div class="main-content" style="background-color: #E6E6FA"> 
    <div class="header pb-8 pt-5 pt-lg-8 d-flex" style="height: 100px; background-image: url(assets/images/logo.png); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
 
   
    <div class="container-fluid">
      <div class="row ">
       <div class="col">
         <h1 class="display-2 text-white">The Persona Tracker</h1>
       </div>
    </div>
  </div></div>
  <div style="text-align:center;">
    <div class="card-body pt-0 pt-md-4">
    <div class="card card-profile shadow" style="height:600px;padding-top: 30px;">  
<div class="row">
  <div class="column">
    <img src="assets/images/persona.jpg" alt="Snow" style="width:90%;height:90%">
  </div>
  <div class="column">
    <form>
      <div class="container">
        <br><br>
      
  <mat-form-field class="example-full-width" style="width: 100%;">
    <input type="text"
           placeholder="Client Id/First name/Last name/Email"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions5 | async" [value]="option.client_id">
      {{option.client_id}} | {{option.first}} 
    </mat-option>
     
      <mat-option *ngFor="let option2 of filteredOptions6 | async" [value]="option2.first">
        {{option2.first}} | {{option2.client_id}} 
      </mat-option> 
      <mat-option *ngFor="let option3 of filteredOptions3 | async" [value]="option3">
        {{option3}}
      </mat-option>
      <mat-option *ngFor="let option4 of filteredOptions4 | async" [value]="option4">
        {{option4}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

        <br><br>
       <button mat-raised-button class="button" type="button" (click)="onSubmit()">Submit</button>
        
      </div>   
    </form>
</div>
</div>
</div>
</div>
</div>
</div>


